* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}


body {
    background: #222222;
    overflow-x: hidden;
}

.LOGO {
    position: absolute;
    width: 130px;
    left: 10%;
}

/* menu */

.menu {
    background-color: #363636;
}

.menu a {
    color: #ffffff;
    text-align: right;
}

ul {
    display: flex;
    justify-content: flex-end;
    
}

li {
    margin: 25px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}



/* header */
header {
    display: flex;
    padding: 10% 10%;
}

.head-conteiner {
    width: 90%;
}

.head-conteiner h1{
    color: #ffffff;
    font-size: 65px;
}


.head-conteiner h3 {
    color: #6665B1;
    font-size: 30px;
}

.header-img {
    position: relative;}

.btn1-header {
    padding: 20px 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #6665B1;
    border: none;
    margin-top: 5%;
    margin-right: 1%;
    border: #6665B1 solid 4px;
}

.btn1-header:hover {
   border: #6665B1 solid 4px;
   background: none;
   transition: 0.3s;
}

.elips {
    position:relative;
    left: 60%;
    top: 20%;
}