/* .ReviewsScroll {
    width: 60vw;
    height: 30vh;
} */


.Reviews {
    background-color: #6665B1;
    top: -10%;
    width: 60%;
    padding: 10px;
    margin-top: 5px;
}

.Name {
    font-size: 30px;
    color: #ffffff;
    position: relative;
    top: -30px;
    box-shadow: 0px -54px 28px -22px rgba(253,92,112,0.95) inset;
    display: inline-block;

 }