
.paragraf {
    color:#37A6EA;
    position: relative;
    left: 70px;
    font-size: 25px;
}

.conteiner {
    display: block;
    padding: 50px 80px;
}


.in-container1 {
    display: flex;
    margin: 20px 0px;
}


.box {
    display: flex;
    background-color:white;
    color:#37A6EA;
    width: 90%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 1px #37A6EA ;
}

.box-name {
    font-size: 18px;
    font-weight: 100!important;
}

.box-btn {
    padding: 5px 10px;
    background-color: #37A6EA;
    border: #37A6EA solid 1px;
    color: #ffffff;
    position: relative;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 15px;
}

.img-offer {
    width: 80%;

}


.btn {
    margin-top: 70px;
}

#icon1 {
    position: relative;
    top: 50px;
    left: 30px;
}

#icon2 {
    position: relative;
    top: 30px;
    left: 35px;
}

#icon3 {
    position: relative;
    top: 20px;
    left: 0px;
}

#icon4 {
    position: relative;
    top: 0px;
    left: 100px;
}

#icon5 {
    position: relative;
    top: 10px;
    left: 30px;
}

#icon6 {
    position: relative;
    top: 10px;
    left: 80px;
}

.box-btn:hover {
    color: #37A6EA;

    background: none;
}

.details {
    background-color: #37A6EA;
    border-radius: 15px;

    position: absolute;
    color: white;
    width: 350px;
    height: 135px;
    padding: 20px;
    margin-left: -11px;
    transition: 0.5s;
    text-align: left;
    display: none;
    z-index: 1;
}


.btn-hover:hover  .details {
    animation: forwards slidein 0.5s;
    display: block;
}



@keyframes slidein {
    from {
      
    }
  
    to {
      margin-top: -169px;
    }
  }


