@font-face {
    font-family: Jost;
    src: url(fonts/Jost.ttf);
  }

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: Jost;
}

body {
    background: #FAFAFA;
    overflow-x: hidden;
}

.LOGO {
    position: absolute;
    width: 80px;
    left: 10%;
    top: 1%
}

/* menu */

.menu {
    background-color: #37A6EA;
}

.menu a {
    color: #ffffff;
    text-align: right;
}

ul {
    display: flex;
    justify-content: flex-end;
    
}

li {
    margin: 25px;
    font-size: 20px;
}

li:hover {
    color:#6665B1;
}

/* header */
header {
    display: flex;
    padding: 5% 10%;
}

.head-conteiner {
    margin-top: 5%;
    width: 100%;
}

.head-conteiner h1{
    color: #37A6EA;
    font-size: 60px;
    font-weight: 100;
}


.head-conteiner h3 {
    color: #6665B1;
    font-size: 30px;
}

.header-img {
    position: relative;
    margin-top: 3%;
    margin-right: 3%;
    width: 500px;
}

.btn1-header {
    padding: 20px 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #37A6EA;
    border-radius: 40px;
    border: #37A6EA  solid 2px!important;
    border: none;
    margin-top: 5%;
    margin-right: 2%;
    width: 230px;
}

.btn1-header:hover {
   border: #37A6EA  solid 2px;
   background: none;
   color: #37A6EA;
   transition: 0.3s;
   cursor: pointer;
}




.strilka {
    position: fixed;
    top: 88%;
    left: 94%;
}










/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    border: solid #37A6EA 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #37A6EA; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #37A6EA; 
  }













@media screen and (max-width: 900px) {
    .header-img {
        display: none;
    } 

    .head-conteiner h1 {
        font-size: 30px;
    }

    .button {
        display: flex;
    }

    .btn1-header {
        font-size: 15px;
        width: auto;
        padding: 10px;
    }



    .team h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    .conteiner {
        margin: 0;
        padding: 0;
        
    }

    .in-container1 {
        display: block;
    }
}
  