
.paragraf {
    color:#ffffff;
    position: relative;
    left: 70px;
    font-size: 25px;
}

.conteiner {
    display: block;
    padding: 50px 80px;
}


.in-container1 {
    display: flex;
    margin-top: 10px;
}


.box {
    display: flex;
    background-color:#2A2A2A;
    color:#ffffff;
    width: 90%;
    margin-left: 10px;
    padding: 20px;
}

.box-name {
    font-size: 18px;
}

.box-btn {
    padding: 5px 10px;
    background-color: #FD5C70;
    border: #FD5C70 solid 1px;
    color: #ffffff;
    position: relative;
    margin-top: 5px;
    font-size: 18px;
}

.img-offer {
    width: 80%;
}


.btn {
    margin-top: 70px;
}

#icon1 {
    position: relative;
    top: 50px;
    left: 30px;
}

#icon2 {
    position: relative;
    top: 30px;
    left: 35px;
}

#icon3 {
    position: relative;
    top: 20px;
    left: 0px;
}

#icon4 {
    position: relative;
    top: 0px;
    left: 100px;
}

#icon5 {
    position: relative;
    top: 10px;
    left: 30px;
}

#icon6 {
    position: relative;
    top: 10px;
    left: 80px;
}

.box-btn:hover {
    color: #FD5C70;
    background: none;
}

.details {
    background-color: #FD5C70;
    position: absolute;
    color: white;
    width: 370px;
    height: 135px;
    z-index: 1;
    padding: 20px;
    opacity: 0;
    margin-left: -11px;
    transition: 0.5s;
    text-align: left;
    margin-top: 0%;
}


.btn-hover:hover .details {
    display:block;
    transition: 0.5s;
    margin-top: -169px;
    opacity: 1;
    margin-top: -150%;
}

